*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
a {
  font-size: 1.2rem;
}
p {
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size: 2vw;
  }
  a {
    font-size: 1.5vw;
  }
  p {
    font-size: 1.5vw;
  }
}
