@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Product+Sans&display=swap");

$main-color: #4a99d3;
$main-light: lighten($main-color, 35%);

.main {
  display: grid;
  width: 100%;
  font-family: "Roboto", sans-serif;
  grid-template-rows: repeat(auto-fit, minmax(1vh, auto));
  grid-template-areas: "eCom";
}

.eCom {
  grid-area: eCom;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to bottom, $main-light, white);
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

  &__logo {
    color: $main-color;
    font-weight: bold;
    font-family: "Product Sans", sans-serif;
  }
  @media (max-width: 700px) {
    &__logo {
      display: none;
    }
  }

  &__nav-item {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 2rem;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      color: $main-color;
    }
  }
  &__container {
    // border: dashed 2px #dc05f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;
  }

  &__container-content {
    // border: dashed 2px #19f005;
    flex: 1 1 auto;
    padding: 0px 80px;
    h1 {
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 900px) {
    &__container-content {
      padding: 0px 20px;
      h1 {
        font-size: 35px;
      }
      h4 {
        font-size: 18px;
      }
      &__btn {
        max-width: 150px;
        min-height: 50px;
      }
    }
  }

  &__btn {
    max-width: 180px;
    min-height: 60px;
    margin-right: 10px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__images {
    // border: dashed 2px #f0d805;
    flex: 0 0 33.333%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 700px) {
    &__container {
      flex-wrap: wrap;
    }
    &__images {
      flex: none;
      padding: 10px;
    }
  }
}
