@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Product+Sans&display=swap");
.main {
  display: grid;
  width: 100%;
  font-family: "Roboto", sans-serif;
  grid-template-rows: repeat(auto-fit, minmax(1vh, auto));
  gap: 50px;
  grid-template-areas: "eCom" "whatWeDo" "howItWorks" "feedback";
}

.eCom {
  grid-area: eCom;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, #daeaf6, white);
}
.eCom__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.eCom__logo {
  color: #4a99d3;
  font-weight: bold;
  font-family: "Product Sans", sans-serif;
}
@media (max-width: 700px) {
  .eCom__logo {
    display: none;
  }
}
.eCom__nav-item {
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}
.eCom__nav-item--active {
  color: #4a99d3;
}
.eCom__nav-item:hover {
  cursor: pointer;
  color: #4a99d3;
}
.eCom__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.eCom__container-content {
  flex: 1 1 auto;
  padding: 0px 80px;
}
.eCom__container-content h1 {
  margin-bottom: 20px;
}
.eCom__container-content h4 {
  margin-bottom: 50px;
}
.eCom__container-images {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
}
.eCom__container-images img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.eCom__btn {
  max-width: 180px;
  min-height: 60px;
  margin-right: 10px;
  border-radius: 10px;
}
.eCom__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
@media (max-width: 900px) {
  .eCom__container {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .eCom__container-images {
    flex: 0 0 100%;
    align-items: flex-start;
    padding: 10px;
  }
  .eCom__container-content {
    padding: 0px 20px;
  }
  .eCom__btn {
    max-width: 150px;
    min-height: 50px;
  }
}

.whatWeDo {
  grid-area: whatWeDo;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 7px 30px -30px rgb(0, 0, 0);
}
.whatWeDo__subtitle-1 {
  position: absolute;
  top: 12%;
  left: 15%;
}
.whatWeDo__construct--brown {
  position: absolute;
  bottom: 0;
  left: 0;
}
.whatWeDo__construct--blue {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.whatWeDo__dots--top, .whatWeDo__dots--mid, .whatWeDo__dots--bottom {
  position: absolute;
  max-width: 200px;
}
.whatWeDo__dots--top {
  top: 5.2%;
  right: 10%;
}
.whatWeDo__dots--mid {
  top: 50%;
  left: 16%;
}
.whatWeDo__dots--bottom {
  bottom: 5%;
  right: 10%;
}
.whatWeDo__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  z-index: 10;
}
.whatWeDo__subtitle-2 {
  display: none;
  text-align: center;
  padding: 20px 10px;
}
@media (max-width: 767px) {
  .whatWeDo__container {
    flex-direction: row;
  }
  .whatWeDo__items {
    display: none;
  }
  .whatWeDo__subtitle-2 {
    display: flex;
  }
}
.whatWeDo__col-1 {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.whatWeDo__col-2 {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 2500px) {
  .whatWeDo__col-2 {
    flex-direction: row;
  }
}
.whatWeDo__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  max-width: 380px;
  min-height: 525px;
  border-radius: 15px;
  margin: 20px 0;
  padding: 25px;
  box-shadow: 10px 10px 40px 5px rgba(74, 153, 211, 0.2);
}/*# sourceMappingURL=styles.css.map */